.bL {
    height: 32px;
    width: 25%;
    background-color: #007fff;
    color: gold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.fL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gold;
    gap: 32px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px black;
}
.fL>div, .fL>div>input {
    width: 90%;
}